<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑管理员</title>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <script charset="utf-8" th:src="@{/lib/layui/layui.js}" ></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form" >
            <input type="hidden" name="adminId" id="adminId" th:value="${admin.getId()}">
            <div class="layui-form-item">
                <label for="adminName" class="layui-form-label">账户</label>
                <div class="layui-input-inline">
                    <input type="text" id="adminName" name="adminName" maxlength="10" required  autocomplete="off" class="layui-input" lay-verify="empty" th:value="${admin.getUsername()}">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="adminPwd" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                    <input type="text" id="adminPwd" name="adminPwd" maxlength="20" required="" autocomplete="off" class="layui-input" lay-verify="empty" th:value="${admin.getPassword()}">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="adminName" class="layui-form-label">权限</label>
                <div class="layui-input-inline" th:if="${admin.getType() eq 1}">
                    <label>
                        <select th:id="adminPermission" name="adminPermission">
                            <option value="super" selected>超级管理员</option>
                            <option value="general">普通管理员</option>
                        </select>
                    </label>
                </div>
                <div class="layui-input-inline" th:if="${admin.getType() eq 2}">
                    <label>
                        <select th:id="adminPermission" name="adminPermission">
                            <option value="super" >超级管理员</option>
                            <option value="general" selected>普通管理员</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="layui-form-item">
                <label for="adminName" class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="update" lay-submit="">更新</button>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['form', 'layer'],
        function() {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer;

            //自定义验证规则
            form.verify({
                empty: function(value) {
                    if (value.length === 0) {
                        return '该栏不能为空';
                    }
                }
            });

            //监听提交
            form.on('submit(update)',
                function() {
                    $.post({
                        url:"/admin/updateAdmin",
                        data:{"id":$('#adminId').val(),
                            "username":$('#adminName').val(),
                            // "adminPwd":$('#adminPwd').val(),
                            "adminPermission":$('#adminPermission').val()},
                        success:function (result) {
                            if(result === 1){
                                layer.alert("更新成功", {icon: 6},
                                    function() {
                                        // 获得frame索引
                                        var index = parent.layer.getFrameIndex(window.name);
                                        //刷新父页面
                                        xadmin.father_reload();
                                        //关闭当前frame
                                        parent.layer.close(index);
                                    })
                            }else{
                                layer.alert("更新失败,账户已存在!", {icon: 5},
                                    function() {
                                        // 获得frame索引
                                        var index = parent.layer.getFrameIndex(window.name);
                                        //关闭当前frame
                                        parent.layer.close(index);
                                    })
                            }
                        }
                    })
                    return false;
                });
        }
    )
</script>

</body>
</html>