<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>关于我</title>
    <link rel="stylesheet" href="/css/semantic.min.js">
    <link rel="stylesheet" href="/css/me.css">
</head>
<body>
<!--导航-->
<nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment m-padded-tn-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
            <a href="#" class="active m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
            <div class="m-item right item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>


</nav>
<!--中间内容-->
    <div class=" m-container m-padding-tb-big animated fadeIn">
        <div class="ui container">
            <div class="ui stackable grid">
                <div class="eleven wide column">
                    <div class="ui segment">
                        <img src="/images/3494829.jpg" alt="" class="ui rounded image">
                    </div>
                </div>
                <div class="five wide column">
                    <div class="ui top attach segment">
                        <div class="ui header">
                            关于我
                        </div>
                        <div class="ui attached segment">
                            <p class="m-text">资深抑郁症患者，网抑云常驻用户，喜欢玩galgame和动漫，打代码纯粹是为了消磨时间，如果有某方面兴趣可以交流一下</p>
                            <p class="m-text">想创造一个自己的世界，正在寻找人生的意义......</p>
                        </div>
                        <div class="ui attached segment">
                            <div class="ui basic orange left pointing label">编程</div>
                            <div class="ui basic orange left pointing label">写作</div>
                            <div class="ui basic orange left pointing label">思考</div>
                            <div class="ui basic orange left pointing label">运动</div>
                        </div>
                        <div class="ui attached segment">
                            <div class="ui basic teal left pointing label m-margin-tb-tiny">Java</div>
                            <div class="ui basic teal left pointing label m-margin-tb-tiny">JavaScript</div>
                            <div class="ui basic teal left pointing label m-margin-tb-tiny">Node</div>
                            <div class="ui basic teal left pointing label m-margin-tb-tiny">React</div>
                            <div class="ui basic teal left pointing label m-margin-tb-tiny">RN</div>
                            <div class="ui basic teal left pointing label m-margin-tb-tiny">MYSQL</div>
                            <div class="ui basic teal left pointing label m-margin-tb-tiny">...</div>
                        </div>
                        <div class="ui attached segment segment">
                            <a href="" class="ui circular icon button"><i class="github icon"></i></a>
                            <a href="" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
                            <a href="" class="ui qq circular icon button" data-content="2572158616" data-position="bottom center"><i class="qq icon"></i></a>
                        </div>
                        <div  class="ui wechat-qr flowing popup transition hidden">
                            <img src="../static/images/微信二维码.jpg" alt="" class="ui rounded image" style="width: 100px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
<br>
<div class="waifu" th:replace="_fragments :: live2D">
    <div class="waifu-tips"></div>
    <canvas id="live2d" class="live2d"></canvas>
    <div class="waifu-tool">
        <span class="fui-home"></span>
        <span class="fui-chat"></span>
        <span class="fui-eye"></span>
        <span class="fui-user"></span>
        <span class="fui-photo"></span>
        <span class="fui-info-circle"></span>
        <span class="fui-cross"></span>
    </div>
</div>


<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padding-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable  grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/微信二维码.jpg" alt="" class="ui rounded image" style="width: 110px;">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事（user story）</a>
                    <a href="#" class="item">用户故事（user story）</a>
                    <a href="#" class="item">用户故事（user story）</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事（user story）</a>
                    <a href="#" class="item">用户故事（user story）</a>
                    <a href="#" class="item">用户故事（user story）</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced m-text-thin m-text-spaced m-opacity-mini">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考的相关内容，其实主要是聊骚（小声）</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020-2021 Sakura Blog Designed by 无限缤纷</p>

    </div>

</footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="/js/semantic.min.js" th:src="@{/js/semantic.min.js}"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    // $('.wechat').popup({
    //     popup:$('.wechat-qr'),
    //     on:'hover',
    //     position:'bottom center'
    // });
    // $('.qq').popup({
    //     popup:$('.wechat-qr'),
    //     on:'hover',
    //     position:'bottom center'
    // });



</script>
</body>
</html>